body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    color: #FBFAF5;
    font-family: sans-serif;
}
/* HEADER */
.header {
    display: flex;
    background-color: #1F1F36;
    padding: 1em 5em;
}


.logo {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.logo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.right-links {
    display: flex;
    gap: 10px;
    margin-left: auto;
    list-style-type: none;
}

.right-links a {
    text-decoration: none;
    color: #ffffff;
}

.right-links a:hover {
    color:#FE5163;
}

/*LAYER ONE*/
.layer-one {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F1F36;
    gap: 100px;
    padding: 0em 5em 2em 5em;
    justify-content: space-evenly;
 }

.welcome-container {
    display: flex;
    flex: 0 0 300px;
    min-height: 200px;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;   

}

h1 {
    margin: 0px;
}

.welcome-container button {
    margin-top: auto;
    background-color: #FE5163;
    border-color: #FE5163;
}

.welcome-container button:hover {
    background-color: #ffffff;
    border-color: #ffffff;
}

.image {
    width: 400px;
    height: 200px;
    flex: 0 0 400px;

}

.image img {
    width: 100%;
    height: 100%;
}




/*LAYER TWO*/
.layer-two {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-top: 2em;
    padding-bottom: 2em;
}

.layer-two h2 {
    color:#1F1F36;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2em;

}
.music-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.music-container iframe {
    max-width: 300px;
    min-width: 300px;
    height: 352px;
    flex-shrink: 0;
}

/*LAYER THREE*/
.layer-three {
    background-image: url(/images/lofi-background.jpg);
    background-size: fixed;
    object-fit: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    padding:200px;
    font-weight: bold;
    font-size: 32px;
}

/*LAYER FOUR*/
.layer-four {
    background-color: #1F1F36;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.registration-container {
    display: flex;
    background-color: #FE5163;
    padding: 25px 10px;
    gap: 10px;
    border-radius: 8px;
}

.registration-text {
    display: flex;
    flex-direction: column;
    color:#1F1F36
}

.registration-text h2 {
    margin: 0;
}

.registration-container button {
    align-self: center;
    background-color: #FE5163;
    border-color: #1F1F36;
    color: #1F1F36;
    align-self: flex-end;
}

.registration-container button:hover {
    background-color: #1F1F36;
    color: #ffffff;
}
/*FOOTER*/
.footer {
    background-color: #1F1F36;
    text-align: center;
}

button {
    padding: 5px 20px;
    border-radius: 8px;
}